{% load i18n %}
.container<>
  %p<>
    %h3<> {% verbatim %}{{name}}{% endverbatim %}
    %p {% verbatim %}{{description}}{% endverbatim %}
    %ul<>
      %li<>
        %strong<> {% trans "DOF" %}:
        %span.sp-left<> {% verbatim %}{{dof}}{% endverbatim %}
    %div<> {% verbatim %}{{#if user}}{{#link-to 'user' user}}Owner{{/link-to}}{{/if}}{% endverbatim %}
